.selectedPage {
    font-weight: bold;
    cursor: pointer;
}
.paginationLine{
    display: flex;
    justify-content: center;
    column-gap: 3px;
}

.page {
    width: 21px;
    aspect-ratio: 1;
    border: 1px solid silver;
    box-sizing: border-box;
    line-height: 1;
    text-align: center;
}

.page:hover{
    background-color: lightpink;
    cursor: pointer;
    transition-duration: 0.5s;
}