.formControl .error input,

.formControl .error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
    font-size: var(--font-size-alternative);
}

.formControl{
    width: 100%;
}

.formControlWrapper{
    width: 100%;
}

.formSummaryError{
    border: 2px solid red;
    padding:5px;
    color: brown;
}

.textarea{
    padding: 2px 2px;
    border-radius: var(--border-radius);
    width: 100%;
}

.textarea::placeholder{
    padding: 3px 2px;
}

.input{
    padding: 2px 2px;
    border-radius: var(--border-radius);
    width: 100%;
}

.input::placeholder{
    padding: 3px 2px;
}
