.header {
    /*дали псевдонимы */
    grid-area: h;
    background: var(--theme-default-background-color-header);
}

.header img {
    width: 50px;
}

.loginBlock{
    float: right;
}

.loginBlock a{
    color: lightgray;
}
.topHomeLink{

}
