.header {
    /*дали псевдонимы */
    grid-area: h;
    background-color: #88ad77;
}

.header img {
    width: 50px;
}

.loginBlock{
    float: right;
}

.loginBlock a{
    color: lightgray;
}
.topHomeLink{

}
