
.descriptionBlock {
    display: flex;
    flex-direction: column;
}

.mainPhoto {
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-width: 200px;
    max-height: 200px;
}

.mainPhotoBlock {
    width: 276px;
    height: 200px;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
}

.editProfileButton {
    margin-bottom: 5px;
}


.contacts {
    margin-left: 10px;
    margin-bottom: 4px;
}


/*это дефолтный вариант инпута скрыли*/
input[type=file] {
    display: none;
}

.customLabelFileInput {
    display: block;
    width: 28px;
    height: 28px;
    background-image: url("./editImg.png");
    background-size: cover;
    position: absolute;
    right: 85px;
    top: 3px;
    z-index: 100;
    cursor: pointer;
}


