.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 746px;
    border: 1px solid var(--theme-default-text-color-header);
    border-radius: var(--border-radius);
    margin-bottom: 8px;
    padding: 5px;
}

.active {
    font-style: italic;
}

.itemAvatar {
    height: 50px;
    width: 50px;
    border-radius: var(--border-radius);
    margin-right: 7px;
}

.itemText {
    display: flex;
    flex-direction: column;
    color: var(--theme-default-text-color-header);

}

.itemMessageWrapper {

}

.itemMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.itemTextMessage {
display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.itemTextMessageTime {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: var(--font-size-small);
}

.itemLikes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 3px;
}

.likeImg {
    box-shadow: none;
    width: 10px;
    height: 10px;
}