.loginContainer {
    margin-block: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.loginContainerTitle {
    margin-block: 10px;
    line-height: 0.7;
}


.loginFormContainer {
display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.rememberMeContainer{
    display: flex;
    flex-direction: row;
}