.loginContainer {
    margin-block: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 30%;
}

.loginContainerTitle {
    margin-block: 10px;
    line-height: 0.7;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.logininputEmail {

}

.rememberMeContainer {
    display: flex;
    flex-direction: row;
}