.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    /*обозн что это будут гриды   */
    display: grid;

    grid-template-areas:
            "h h"
            "n c";

    /*высота первой строки 60 пикс, вторая строка 1 фракция  */
    grid-template-rows: 60px 1fr;

    /*ширина первой колонки 2 фр, вторая колонка 10 фр */
    grid-template-columns: 2fr 10fr;

    /*расст между элеме*/
    /*    grid-gap: 10px;*/
}

.appWrapperContent {
    /*дали псевдонимы */
    grid-area: c;
    background-color: #a6579a;

}

.appWrapperContent img{
    width: 800px;
    height: 400px;
}


