/*.content {
    !*дали псевдонимы *!
    grid-area: c;
    background-color: #a6579a
}*/

.dialogs {
    /*    display: grid;
        grid-template-columns: 2fr 10fr;*/
    display: flex;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: white;
}

.dialog img {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.messages {
    padding: 10px;

}

.message {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: lightgray;
}

.me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.friend {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
